.App {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.List-FilterButton,
.List-FilterSelect {
  padding: 8px;
  background: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 16px;
  margin-right: 16px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.List-FilterButton:hover ,
.List-FilterSelect:hover {
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.ListItem-Wrapper {
  background-color: #fefefe;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
}

.ListItem-Language {
  font-size: 12px;
  font-weight: 400;
  display: block;
}

.ListItem-Name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.ListItem-Name a {
  color: #2a2a2a;
}

.ListItem-Description {
  font-size: 16px;
  margin: 0;
}

.ListItem-LeftSide {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}

.ListItem-RightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.ListItem-StarButton {
  padding: 8px;
  background: #fff;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  transition: .2s;
}

.ListItem-StarButton:hover {
transform:translateY(-2px);
box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.ListItem-StartButton--Active {
  cursor: pointer;
  padding: 8px;
  background: #000;
  border: 1px solid #000;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
}

.ListItem-StartButton--Active:hover {
  transform:translateY(-2px);
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  }